body {
  background-color: black;
  padding: 60px;
}

ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.delete {
  cursor: pointer;
}

.container {
  max-width: 350px;
  padding: 18px;
}
.list-group-item {
  font-size: 20px;
  padding: 15px;
  border: 3px solid whitesmoke;
}

.container-head {
  border: 2px solid white;
  padding: 10px;
}

.text-info {
  border-radius: 10px;
}
